.order-summary {
  &__btns {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 720px) {
  .order-summary {
    &__btns {
      padding: 20px 0;
      & .button {
        width: 100px;
      }
    }
  }
}